footer{
	position:absolute;
	bottom:0; 
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	display:table;
}

footer p.text{
	text-align: center;
	display:table-cell;
	vertical-align:middle;
}
