header{
	position:absolute;
	top:0;
	color: white;
	height: 70px;
	width: 100%;
	border: bottom 1px #CCCCCC;
	display:table;
}

header div.logo{
	background-image: url("images/logo.png");
	align: left;
	display:table-cell;
	vertical-align: middle;
	margin-left:20px;
}
